@model IEnumerable<Klubovi>
@{
    ViewData["Title"] = "Klubovi";
}

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        background-color: lightblue;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: lightblue;
        color: white;
    }

    /* Add Animation */
    @@-webkit-keyframes slideIn {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 100px;
            opacity: 1
        }
    }

    @@keyframes slideIn {
        from {
            top: -300px;
            opacity: 0
        }

        to {
            top: 100px;
            opacity: 1
        }
    }

    @@-webkit-keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }
    import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

    body {
        background-color: #3e94ec;
        font-family: "Roboto", helvetica, arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-rendering: optimizeLegibility;
    }

    div.table-title {
        display: block;
        margin: auto;
        max-width: 600px;
        padding: 5px;
        width: 100%;
    }

    .table-title h3 {
        color: #fafafa;
        font-size: 30px;
        font-weight: 400;
        font-style: normal;
        font-family: "Roboto", helvetica, arial, sans-serif;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
    }


    /*** Table Styles **/

    .table-fill {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        max-width: 600px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }

    th {
        color: #D5DDE5;
        ;
        background: #1b1e24;
        border-bottom: 4px solid #9ea7af;
        border-right: 1px solid #343a45;
        font-size: 23px;
        font-weight: 100;
        padding: 24px;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }

        th:first-child {
            border-top-left-radius: 3px;
        }

        th:last-child {
            border-top-right-radius: 3px;
            border-right: none;
        }

    tr {
        border-top: 1px solid #C1C3D1;
        border-bottom-: 1px solid #C1C3D1;
        color: #666B85;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    }

        tr:hover td {
            background: #4E5066;
            color: #FFFFFF;
            border-top: 1px solid #22262e;
        }

        tr:first-child {
            border-top: none;
        }

        tr:last-child {
            border-bottom: none;
        }

        tr:nth-child(odd) td {
            background: #EBEBEB;
        }

        tr:nth-child(odd):hover td {
            background: #4E5066;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 3px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 3px;
        }

    td {
        background: #FFFFFF;
        padding: 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid #C1C3D1;
    }

        td:last-child {
            border-right: 0px;
        }

    th.text-left {
        text-align: left;
    }

    th.text-center {
        text-align: center;
    }

    th.text-right {
        text-align: right;
    }

    td.text-left {
        text-align: left;
    }

    td.text-center {
        text-align: center;
    }

    td.text-right {
        text-align: right;
    }

    .create {
        box-shadow: inset 0px 1px 0px 0px #bee2f9;
        background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
        background-color: #63b8ee;
        border-radius: 6px;
        border: 1px solid #3866a3;
        display: inline-block;
        cursor: pointer;
        margin-top: 45px;
        margin-left: 300px;
        color: #14396a;
        font-family: Arial;
        font-size: 28px;
        font-weight: bold;
        padding: 13px 52px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #7cacde;
    }

        .create:hover {
            background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
            background-color: #468ccf;
        }

        .create:active {
            position: relative;
            top: 1px;
        }

    .myButton {
        box-shadow: 3px 4px 0px 0px #899599;
        background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color: #ededed;
        border-radius: 15px;
        border: 1px solid #d6bcd6;
        display: inline-block;
        cursor: pointer;
        color: #3a8a9e;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        padding: 7px 25px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #e1e2ed;
    }

        .myButton:hover {
            background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
            background-color: #bab1ba;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

</style>

<div class="table-title">
    <h1>Unesi klub</h1>
</div>
<div id="myModal" class="modal" style="align-content:center">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Dodajte opis</h2>
        </div>

        <div class="modal-body">

            <label for="imeE">Ime:</label>
            <input type="text" id="imeE" name="imeE" /><br />
            <label for="lokacijaE">Lokacija:</label>
            <input type="text" id="lokacijaE" name="lokacijaE" /><br />
            <label for="kontaktE">Kontakt:</label>
            <input type="text" id="kontaktE" name="kontaktE" /><br />
            <input type="hidden" id="idE" name="idE" />
        </div>

        <div class="modal-footer">
            <button class="myButton" onclick="odustani()">Odustani</button>         
            <input type="button" class="myButton" value="Uredi klub" onclick="uredi()" />
        </div>

    </div>

</div>

<div class="table-fill">
    <label for="ime">Ime:</label>
    <input type="text" id="ime" name="ime" class="card-text" /><br />
    <label for="lokacija">Lokacija:</label>
    <input type="text" id="lokacija" class="text-left" name="lokacija" /><br />
    <label for="kontakt">Kontakt:</label>
    <input type="text" id="kontakt" class="text-left" name="kontakt" /><br />
    <input type="button" value="Unos" onclick="unesiKlub()" class="myButton"/>
</div>
<br />

<div class="table-responsive-sm">
    <table class="table-fill" id="ispis">
        <thead>
            <tr>
                <th class="text-left">Id</th>
                <th class="text-left">Ime</th>
                <th class="text-left">Lokacija</th>
                <th class="text-left">Kontakt</th>
                <th class="text-left">Brisi</th>
                <th class="text-left">Uredi</th>
            </tr>
        </thead>
        <tbody id='tbody'  class="table-hover">
            @foreach (Klubovi k in Model)
            {
                <tr>
                    <td class="text-left"> @k.Id_klubovi</td>
                    <td class="text-left"> @k.Ime</td>
                    <td class="text-left"> @k.Lokacija</td>
                    <td class="text-left"> @k.Kontakt</td>
                    <td class="text-left"><input type="button" class="myButton" value="Brisi" id="@k.Id_klubovi" onclick="brisi(this)"></td>
                    <td class="text-left"><input type="button" class="myButton" data-idKlub="@k.Id_klubovi" data-imeKlub="@k.Ime" data-lokacijaKlub="@k.Lokacija" data-kontaktKlub="@k.Kontakt" value="Uredi" id="@k.Id_klubovi" onclick="ucitaj(this)"></td>
                </tr>

            }
        </tbody>
    </table>
</div>

<script>
    'use strict';

    function brisi(r) {
        if (confirm('Jeste li sigurni da želite ukloniti klub?')) {
            let Id = r.id;
            console.log(Id);
            axios.delete(`/api/admin/deleteklub/${Id}`, Id);
            setTimeout(function () { location.reload(true); }, 3000);

        }

    }

    function unesiKlub() {
        let ime = document.getElementById('ime').value;
        let kontakt = document.getElementById('kontakt').value;
        let lokacija = document.getElementById('lokacija').value;

        let validacija = true;
        console.log(ime, kontakt, lokacija);
        //ovde napravi neku validaciju

        if (!validacija) {
            alert("Neispravan unos")
            return;
        }
        axios.post('/api/admin/addklub', { i: ime, k: kontakt, l: lokacija });
        setTimeout(function () { location.reload(true); }, 2000);
    }

    function odustani()
    {

        document.getElementById('myModal').style.display = "none";

        document.getElementById('lokacijaE').value = "";
        document.getElementById('imeE').value = "";
        document.getElementById('kontaktE').value = "";
        document.getElementById('idE').value = "";


    }

    function ucitaj(e) {
        let id = e.getAttribute("data-idKlub")
        let ime = e.getAttribute("data-imeKlub");
        let lokacija = e.getAttribute("data-lokacijaKlub");
        let kontakt = e.getAttribute("data-kontaktKlub");

        console.log(id, ime, lokacija, kontakt);

        document.getElementById('lokacijaE').value = lokacija;
        document.getElementById('imeE').value = ime;
        document.getElementById('kontaktE').value = kontakt;
        document.getElementById('idE').value = id;




        document.getElementById('myModal').style.display = "block";


    }

    function uredi()
    {
        //napravi validaciju uređivanja

        let id = document.getElementById('idE').value;
        let ime = document.getElementById('imeE').value;
        let lokacija = document.getElementById('lokacijaE').value;
        let kontakt = document.getElementById('kontaktE').value;


        axios.put('/api/admin/editklub', { id: id, ime: ime, lokacija: lokacija, kontakt: kontakt });
        odustani();
        setTimeout(function () { location.reload(true); }, 2000);

        

    }

</script>